.container{

    height:20%;
    width:40%;
    border:2px solid rgba(226, 103, 50, 0.865);
    margin:auto;
    margin-top:10%;
    background-color: rgba(255,255,255,0.8);
    border-radius:25px;
    box-shadow:5px 5px 5px 5px rgb(124, 34, 34);
}
.container:hover{
    scale: 1.03;
    transition: 1s;
}
 .result{
    height:20px;
    margin:auto;
} 
.btn{
    padding: 20px;
    height: 30px;

}
h2{
    background-color: rgba(250, 107, 63, 0.865);
}